
<body>

    <div class="logo">
        <img src="logo.png" alt="CatBio Search">
    </div>

    <div class="nav">
        <div class="menu">
            <div class="option">
                <img src="/img/Vector (1).svg" alt="">
            <a href="#"class="active">Cadastro</a>
            </div>
            <img src="/img/Vector (2).svg" alt="">
            <a href="#">Relatório</a>
            <img src="/img/Vector (3).svg" alt="">
            <a href="#">Estatísticas</a>
            <img src="/img/Vector (4).svg" alt="">
            <a href="#">Configurações</a>
        </div>
    </div>
    

</body>
</html>