<%- include ('partials/header.ejs') %>
<%- include ('partials/menu-navbar.ejs') %>

<div class="cadastro">
    <h1>Cadastro</h1>

    <div class="gato">
        <h2>Detalhes Básicos | Gatos</h2>
        <form action="" method="POST">
            <div class="input">
                <label>Nome</label>
                <input type="text" placeholder="Digite o Nome">
            </div>
            <div class="input">
                <label>Idade Estimada</label>
                <input type="text" placeholder="Digite a idade">
            </div>
            <div class="">
                <label for="sexo">Sexo:</label>
                <input type="radio" id="masculino" name="sexo" value="masculino">
                <label for="masculino">Macho</label>
                <input type="radio" id="feminino" name="sexo" value="feminino">
                <label for="feminino">Fêmea</label>
            </div>
        </form>
    </div>

    <div class="dono">
        
    </div>

</div>

