<%- include ('partials/header.ejs') %>
    <%- include ('partials/menu-navbar.ejs') %>

        <div class="home">
            <h1 class="home-h1">Bem vindo de volta <span class="home-span">Bernardo!</span></h1>

            <h2 class="home-text">Acessos Recentes</h2>
            <table>
                <thead>
                    <tr>
                        <th>Nome</th>
                        <th>Maior percentual</th>
                        <th>Data</th>
                        <th>ID</th>
                        <th>Download</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Losango</td>
                        <td>80% Poliquistose Renal</td>
                        <td>20/05/2023</td>
                        <td>ID 3110/15</td>
                        <td class="download-icon"><a href="#"><span>&#x2193;</span></a></td>
                    </tr>
                    <tr>
                        <td>Asterisco</td>
                        <td>20% Poliquistose Renal</td>
                        <td>18/05/2023</td>
                        <td>ID 3110/14</td>
                        <td class="download-icon"><a href="#"><span>&#x2193;</span></a></td>
                    </tr>
                    <tr>
                        <td>Calabreso</td>
                        <td>80% Poliquistose Renal</td>
                        <td>12/02/2023</td>
                        <td>ID 3110/10</td>
                        <td class="download-icon"><a href="#"><span>&#x2193;</span></a></td>
                    </tr>
                    <tr>
                        <td>Cuscuz</td>
                        <td>10% Poliquistose Renal</td>
                        <td>30/01/2023</td>
                        <td>ID 3110/08</td>
                        <td class="download-icon"><a href="#"><span>&#x2193;</span></a></td>
                    </tr>
                    <tr>
                        <td>Jeremo</td>
                        <td>74.45% Poliquistose Renal</td>
                        <td>12/01/2023</td>
                        <td>ID 3110/08</td>
                        <td class="download-icon"><a href="#"><span>&#x2193;</span></a></td>
                    </tr>
                </tbody>
            </table>


            <div class="card-cat">
                <h3>O que você pode fazer por aqui?</h3>
                <div class="group">
                    <div class="topics">
                        <div class="line">
                            <img src="/home/img/Group 15.svg" alt="">
                            <p>Cadastro ilimitado de gatos!</p>
                        </div>
                        <div class="line">
                            <img src="/home/img/Group 15.svg" alt="">
                            <p>Relatórios eficientes!</p>
                        </div>
                        <div class="line">
                            <img src="/home/img/Group 15.svg" alt="">
                            <p>Apenas cadastre o gato e receba os resultados! O resto? Deixa com a gente</p>
                        </div>
                        <div class="line">
                            <img src="/home/img/Group 15.svg" alt="">
                            <p>Uma análise para te auxiliar em tratamentos</p>
                        </div>
                    </div>
                    <img class="cat-img" src="/home/img/unsplash_CEx86maLUSc-removebg-preview 1.svg" alt="">

                </div>
            </div>
        </div>
