<%- include ('partials/menu-navbar.ejs') %>
    <%- include ('partials/header.ejs') %>


        <div class="relatorio">

            <div class="dropdown">
                <button class="dropdown-button">Selecionar Gato <img src="/relatorio/img/_.svg" alt=""></button>
                <div class="dropdown-content">
                    <% gatos.forEach(gato => { %>
                        <a href="#"><%= gato.nomeGato %></a> <!-- Exibir o nome do gato -->
                    <% }); %>
                </div>
            </div>
            


            <h1> Avaliações </h1>



            <div class="data">
                <p>17 de Setembro 2023</p>
            </div>
            <div class="card-bord">
                <div class="content">
                    <h2>Análise Genômica</h2>

                    <div class="download">
                        <h2>Baixar</h2>
                        <img src="/relatorio/img/download.svg" alt="">
                    </div>
                </div>
            </div>
            <div class="data">
                <p> 15 de Janeiro de 2023</p>
            </div>
            <div class="card-bord">
                <div class="content">
                    <h2>Análise Genômica</h2>

                    <div class="download">
                        <h2>Baixar</h2>
                        <img src="/relatorio/img/download.svg" alt="">
                    </div>
                </div>
            </div>
            <div class="data">
                <p>17 de Agosto de 2021</p>
            </div>
            <div class="card-bord">
                <div class="content">
                    <h2>Análise Genômica</h2>

                    <div class="download">
                        <h2>Baixar</h2>
                        <img src="/relatorio/img/download.svg" alt="">
                    </div>
                </div>
            </div>
            <div class="data">
                <p> 15 de Janeiro de 2019</p>
            </div>
            <div class="card-bord">
                <div class="content">
                    <h2>Análise Genômica</h2>

                    <div class="download">
                        <h2>Baixar</h2>
                        <img src="/relatorio/img/download.svg" alt="">
                    </div>
                </div>
            </div>

        </div>