<%- include('partials/header.ejs') %>
<%- include('partials/menu-navbar.ejs') %>

<div class="section-statisct">

    <div class="card-container">
        <div class="group">
            <h1 style="color: #fff;">Resultado</h1>
            <div>
                <label for="">Nome:</label>
                <input type="text" id="nome" placeholder="Nome: " style="color: #fff;">
            </div>
            <div>
                <label for="id">ID:</label>
                <input type="text" id="id" placeholder="ID: " style="margin-left: 5px;">
            </div>
            <div>
                <label for="tamanho-rna">Tamanho RNA:</label>
                <input type="text" id="tamanho-rna" placeholder="Tamanho do RNA: " style="margin-left: 5px;">
            </div>
        </div>

        <div class="card-group">
            <div class="card" style="background-color: #9b59b6; border-radius: 10px;">
                <div class="text-card">
                    <p>GC Content</p>
                    <h2>50% - 55%</h2>
                </div>
            </div>
            <div class="card" style="background-color: #27ae60; margin-left: 10px; border-radius: 10px;">
                <div class="text-card">
                    <p>Mutações identificadas</p>
                    <h2>45</h2>
                </div>
            </div>
            <div class="card" style="background-color: #f39c12; margin-left: 10px; border-radius: 10px;">
                <div class="text-card">
                    <p>Sequência Analisada</p>
                    <h2>ACTGTCAG</h2>
                </div>
            </div>
        </div>
    </div>

    <div class="estatistica">

        <div class="card-chart-line">
            <div class="chart-chart-line" style="position: relative;">
                <canvas id="lineChart"></canvas>
            </div>
        </div>

        <div class="group-card">
            <div class="card-chart">
                <h3>Marcadores Genéticos</h3>
                <div class="chart-container" style="position: relative; height: 40vh; width: 80vw;">
                    <canvas id="barChart"></canvas>
                </div>
            </div>
            <div class="card-chart-pie">
                <h3>Probabilidade PKD</h3>
                <div class="chart-container" style="position: relative; height: 40vh; width: 80vw;">
                    <canvas id="pieChart"></canvas>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Chart.js via CDN -->
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels@2"></script>
<script>
    var ctxBar = document.getElementById('barChart').getContext('2d');
    var barChart = new Chart(ctxBar, {
        type: 'bar',
        data: {
            labels: ['C', 'G', 'T', 'A'],
            datasets: [{
                label: '',
                data: [12, 19, 3, 5],
                backgroundColor: [
                    'rgba(255, 99, 132, 0.2)',
                    'rgba(54, 162, 235, 0.2)',
                    'rgba(255, 206, 86, 0.2)',
                    'rgba(75, 192, 192, 0.2)'
                ],
                borderColor: [
                    'rgba(255, 99, 132, 1)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(255, 206, 86, 1)',
                    'rgba(75, 192, 192, 1)'
                ],
                borderWidth: 1
            }]
        }
    });

    var ctxPie = document.getElementById('pieChart').getContext('2d');
    var pieChart = new Chart(ctxPie, {
        type: 'pie',
        data: {
            labels: ['Alta', 'Não Possui', 'Baixa'],
            datasets: [{
                label: '',
                data: [12, 3, 5],
                backgroundColor: [
                    'rgba(255, 99, 132, 0.2)',
                    'rgba(255, 206, 86, 0.2)',
                    'rgba(75, 192, 192, 0.2)',
                ],
                borderColor: [
                    'rgba(255, 99, 132, 1)',
                    'rgba(255, 206, 86, 1)',
                    'rgba(75, 192, 192, 1)'
                ],
                borderWidth: 1
            }]
        },
        options: {
            responsive: true,
            plugins: {
                datalabels: {
                    formatter: (value, context) => {
                        let sum = 0;
                        let dataArr = context.chart.data.datasets[0].data;
                        dataArr.map(data => {
                            sum += data;
                        });
                        let percentage = (value * 100 / sum).toFixed(2) + "%";
                        return percentage;
                    },
                    color: '#fff',
                    labels: {
                        title: {
                            font: {
                                weight: 'bold'
                            }
                        }
                    }
                }
            }
        },
        plugins: [ChartDataLabels]
    });

    var ctxLine = document.getElementById('lineChart').getContext('2d');
    var lineChart = new Chart(ctxLine, {
        type: 'line',
        data: {
            labels: ['A', 'C', 'G', 'T', 'A', 'C', 'C', 'G', 'T', 'A', 'G', 'C', 'C', 'G', 'T', 'A', 'G', 'C'],
            datasets: [
                {
                    label: 'Proteína no genoma',
                    data: [12, 19, 3, 5, 2, 3, 15, 10, 20, 25, 18, 24, 20, 25, 18, 24, 3, 15],
                    borderColor: 'rgba(75, 192, 192, 1)',
                    backgroundColor: 'rgba(75, 192, 192, 0.2)',
                    borderWidth: 2,
                    fill: false
                },
                {
                    label: 'Doença do Trato Inferior Felino',
                    data: [22, 29, 13, 15, 22, 13, 25, 20, 30, 35, 28, 34, 20, 25, 12, 9, 10, 22],
                    borderColor: 'rgba(255, 206, 86, 1)',
                    backgroundColor: 'rgba(255, 206, 86, 0.2)',
                    borderWidth: 2,
                    fill: false
                },
                {
                    label: 'Hemofilia',
                    data: [17, 25, 10, 20, 15, 23, 27, 22, 29, 32, 25, 28,20, 15, 23, 27, 22, 29],
                    borderColor: 'rgba(153, 102, 255, 1)',
                    backgroundColor: 'rgba(153, 102, 255, 0.2)',
                    borderWidth: 2,
                    fill: false
                }
            ]
        },
        options: {
            responsive: true,
            plugins: {
                legend: {
                    labels: {
                        color: '#fff'
                    }
                }
            },
            scales: {
                x: {
                    ticks: {
                        color: '#fff'
                    },
                    grid: {
                        color: 'rgba(255, 255, 255, 0.2)'
                    }
                },
                y: {
                    ticks: {
                        color: '#fff'
                    },
                    grid: {
                        color: 'rgba(255, 255, 255, 0.2)'
                    }
                }
            }
        }
    });
</script>
