
.section-statisct {
    margin-left:20%;
    padding: 0 2%;
    flex: 1;
    margin-bottom: 4%;
}

.card-container {
    margin-bottom: 5%;
}

.group {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;
    align-items: center;
    margin-top: 2%;
}

.group div {
    display: flex;
    flex-direction: column;
}

input[type="text"] {
    padding: 0.5rem;
    border: 1px solid #555;
    border-radius: 5px;
    background-color: #555;
    color: #fff;
    margin-top: 0.5rem;
}

.card-group {
    display: flex;
}


.card-chart {
    width: 600px;
    position: relative;
    background-color: var(--cor-fundo);
    border-radius: 20px;
    padding: 30px;

}
 
.card-chart-line{
    position: relative;
    background-color: var(--cor-fundo);
    border-radius: 20px;
    padding: 5rem;
    margin-bottom: 2rem;
}


.card-chart-pie {
    width: 22rem;
    background-color: var(--cor-fundo);
    border-radius: 20px;
    padding: 2rem;
    margin-left: 10px;
    justify-content: center;
}

.chart-container {
    border-radius: 10px;
    padding: 1rem;
}

.group-card {
    display: flex;
    align-items: center;
}

h3 {
    color: #fff;
    text-align: center;
}



.card-container{
    margin-bottom: 5%;
}

.card{
    margin-top: 2%;
    display: flex;
}

.text-card{
    color: #fff;
    justify-content: center;
    padding: 20px;
    text-align: center;
    align-items: center;
}

.text-card h2{
    font-size: 40px;
    color: #fff;
    font-weight: 400;
}